<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Setup" Language="1033" Version="1.0.0.0" Manufacturer="Arne Van Campenhout" UpgradeCode="6def6eab-c8c4-4fad-a7ec-13a5a0e882fb">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Setup">
          <?if $(var.Platform) = x64 ?>
          <Directory Id="INSTALLFOLDER_x64" Name="x64" />
          <?else ?>
          <Directory Id="INSTALLFOLDER_x86" Name="x86" />
          <?endif ?>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents_x64" Directory="INSTALLFOLDER_x64">
      <Component Id="Component_x64" Guid="7daf4e55-7c2d-4b23-bf7e-c4f2807b9217">
        <File Source="..\YoutubeSongDownloader\bin\Release\net8.0-windows\publish\win-x64\*" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ProductComponents_x86" Directory="INSTALLFOLDER_x86">
      <Component Id="Component_x86" Guid="7b9eef44-b342-4272-9db2-7a9c17fc0f24">
        <File Source="..\YoutubeSongDownloader\bin\Release\net8.0-windows\publish\win-x86\*" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
